
101CS_Kira/StudentManagement/.vs/StudentManagement/v15/.suo
101CS_Kira/StudentManagement/.vs/StudentManagement/v15/Server/sqlite3/db.lock
101CS_Kira/StudentManagement/.vs/StudentManagement/v15/Server/sqlite3/storage.ide
101CS_Kira/StudentManagement/.vs/StudentManagement/v15/Server/sqlite3/storage.ide-shm
101CS_Kira/StudentManagement/.vs/StudentManagement/v15/Server/sqlite3/storage.ide-wal
101CS_Kira/StudentManagement/packages/DnsClient.1.0.7/.signature.p7s
101CS_Kira/StudentManagement/packages/DnsClient.1.0.7/DnsClient.1.0.7.nupkg
101CS_Kira/StudentManagement/packages/DnsClient.1.0.7/lib/net45/DnsClient.dll
101CS_Kira/StudentManagement/packages/DnsClient.1.0.7/lib/net45/DnsClient.xml
101CS_Kira/StudentManagement/packages/DnsClient.1.0.7/lib/netstandard1.3/DnsClient.dll
101CS_Kira/StudentManagement/packages/DnsClient.1.0.7/lib/netstandard1.3/DnsClient.xml
101CS_Kira/StudentManagement/packages/MongoDB.Bson.signed.2.5.0/lib/net45/MongoDB.Bson.dll
101CS_Kira/StudentManagement/packages/MongoDB.Bson.signed.2.5.0/lib/net45/MongoDB.Bson.XML
101CS_Kira/StudentManagement/packages/MongoDB.Bson.signed.2.5.0/lib/netstandard1.5/MongoDB.Bson.dll
101CS_Kira/StudentManagement/packages/MongoDB.Bson.signed.2.5.0/lib/netstandard1.5/MongoDB.Bson.xml
101CS_Kira/StudentManagement/packages/MongoDB.Bson.signed.2.5.0/License.rtf
101CS_Kira/StudentManagement/packages/MongoDB.Bson.signed.2.5.0/MongoDB.Bson.signed.2.5.0.nupkg
101CS_Kira/StudentManagement/packages/MongoDB.Driver.Core.signed.2.5.0/lib/net45/MongoDB.Driver.Core.dll
101CS_Kira/StudentManagement/packages/MongoDB.Driver.Core.signed.2.5.0/lib/net45/MongoDB.Driver.Core.XML
101CS_Kira/StudentManagement/packages/MongoDB.Driver.Core.signed.2.5.0/lib/netstandard1.5/MongoDB.Driver.Core.dll
101CS_Kira/StudentManagement/packages/MongoDB.Driver.Core.signed.2.5.0/lib/netstandard1.5/MongoDB.Driver.Core.xml
101CS_Kira/StudentManagement/packages/MongoDB.Driver.Core.signed.2.5.0/License.rtf
101CS_Kira/StudentManagement/packages/MongoDB.Driver.Core.signed.2.5.0/MongoDB.Driver.Core.signed.2.5.0.nupkg
101CS_Kira/StudentManagement/packages/MongoDB.Driver.signed.2.5.0/lib/net45/MongoDB.Driver.dll
101CS_Kira/StudentManagement/packages/MongoDB.Driver.signed.2.5.0/lib/net45/MongoDB.Driver.XML
101CS_Kira/StudentManagement/packages/MongoDB.Driver.signed.2.5.0/lib/netstandard1.5/MongoDB.Driver.dll
101CS_Kira/StudentManagement/packages/MongoDB.Driver.signed.2.5.0/lib/netstandard1.5/MongoDB.Driver.xml
101CS_Kira/StudentManagement/packages/MongoDB.Driver.signed.2.5.0/License.rtf
101CS_Kira/StudentManagement/packages/MongoDB.Driver.signed.2.5.0/MongoDB.Driver.signed.2.5.0.nupkg
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/LICENSE.md
101CS_Kira/StudentManagement/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/build/SquirrelFramework.props
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/content/Config/mongodb.config
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/content/Config/redis.config
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/lib/net462/SquirrelFramework.Configurations.dll
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/lib/net462/SquirrelFramework.dll
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/lib/net462/SquirrelFramework.Domain.Service.dll
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/lib/net462/SquirrelFramework.Repository.dll
101CS_Kira/StudentManagement/packages/SquirrelFramework.1.0.13/SquirrelFramework.1.0.13.nupkg
101CS_Kira/StudentManagement/packages/SquirrelFramework.Domain.Model.1.0.0/lib/netstandard2.0/SquirrelFramework.Domain.Model.dll
101CS_Kira/StudentManagement/packages/SquirrelFramework.Domain.Model.1.0.0/SquirrelFramework.Domain.Model.1.0.0.nupkg
101CS_Kira/StudentManagement/packages/SquirrelFramework.Utility.1.0.1/lib/netstandard2.0/SquirrelFramework.Utility.Common.dll
101CS_Kira/StudentManagement/packages/SquirrelFramework.Utility.1.0.1/SquirrelFramework.Utility.1.0.1.nupkg
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/.signature.p7s
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/lib/net45/StackExchange.Redis.StrongName.dll
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/lib/net45/StackExchange.Redis.StrongName.xml
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/lib/net46/StackExchange.Redis.StrongName.dll
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/lib/net46/StackExchange.Redis.StrongName.xml
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/lib/netstandard1.5/StackExchange.Redis.StrongName.dll
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/lib/netstandard1.5/StackExchange.Redis.StrongName.xml
101CS_Kira/StudentManagement/packages/StackExchange.Redis.StrongName.1.2.6/StackExchange.Redis.StrongName.1.2.6.nupkg
101CS_Kira/StudentManagement/packages/System.Buffers.4.3.0/.signature.p7s
101CS_Kira/StudentManagement/packages/System.Buffers.4.3.0/dotnet_library_license.txt
101CS_Kira/StudentManagement/packages/System.Buffers.4.3.0/lib/netstandard1.1/.xml
101CS_Kira/StudentManagement/packages/System.Buffers.4.3.0/lib/netstandard1.1/System.Buffers.dll
101CS_Kira/StudentManagement/packages/System.Buffers.4.3.0/System.Buffers.4.3.0.nupkg
101CS_Kira/StudentManagement/packages/System.Buffers.4.3.0/ThirdPartyNotices.txt
101CS_Kira/StudentManagement/packages/System.Runtime.InteropServices.RuntimeInformation.4.0.0/.signature.p7s
101CS_Kira/StudentManagement/packages/System.Runtime.InteropServices.RuntimeInformation.4.0.0/dotnet_library_license.txt
101CS_Kira/StudentManagement/packages/System.Runtime.InteropServices.RuntimeInformation.4.0.0/lib/MonoAndroid10/_._
101CS_Kira/StudentManagement/packages/System.Runtime.InteropServices.RuntimeInformation.4.0.0/lib/MonoTouch10/_._
